﻿@page "/"
@page "/home"
@layout MainLayout
@inherits SwairiAssignee.Pages.HomeComponent

@using Radzen
@using Radzen.Blazor
<RadzenContent Container="main">
  <ChildContent>
    <RadzenHeading Size="H1" Text="Home">
    </RadzenHeading>
  </ChildContent>
</RadzenContent>
